mixin advertisement(image, title, price, link, services)
   article.card.card-house
      .card-image
         img(src=`./assets/img/${image}` alt="")
      .card-content
         span.card-title #{title}
         p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, consectetur.
         p.teal-text.py-3.card-price $#{price}
         .row.py-1
            .col.s2
               span.icon.wc
            .col.s2
               span #{services[0]}
            .col.s2
               span.icon.rooms
            .col.s2
               span #{services[1]}
            .col.s2
               span.icon.parking
            .col.s2
               span #{services[2]}
         a.waves-effect.waves-light.btn-large.btn-orange.btn-block(href=link) mas información

mixin post(image, title, meta, link)
   article.post
      .col1
         img.z-depth-2(src=`./assets/img/${image}` alt="")
      .col2
         h5.heading #{title}
         p
         | Escrito el: 
         span.highlight #{meta.date} 
         | por: 
         span.highlight #{meta.user} 
         if block 
            block
         else
            p.py-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nulla qui provident doloribus, incidunt ipsa magni temporibus iure ad quod?
         a.waves-effect.waves-light.btn(href=link) Leer mas